In [16]:
import requests
import dotenv
import os
import pandas as pd

In [17]:
dotenv.load_dotenv()

True

In [18]:
api_key = os.getenv('API_KEY')
url = f'https://api.openweathermap.org/data/2.5/weather?lat=44.34&lon=10.99&appid={api_key}'

In [19]:
try:
    respo = requests.get(url)
    respo.raise_for_status()
    json = respo.json()
    print(json)
except Exception as e:
    print(e)

{'coord': {'lon': 10.99, 'lat': 44.34}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'base': 'stations', 'main': {'temp': 289.94, 'feels_like': 289.55, 'temp_min': 289.94, 'temp_max': 289.94, 'pressure': 1019, 'humidity': 72, 'sea_level': 1019, 'grnd_level': 954}, 'visibility': 10000, 'wind': {'speed': 1.17, 'deg': 263, 'gust': 0.72}, 'rain': {'1h': 0.87}, 'clouds': {'all': 100}, 'dt': 1749935693, 'sys': {'type': 2, 'id': 2011351, 'country': 'IT', 'sunrise': 1749871883, 'sunset': 1749927684}, 'timezone': 7200, 'id': 3163858, 'name': 'Zocca', 'cod': 200}

In [21]:
df = pd.read_xml(r'Data\GDDiK_data\GDDiK_data_2025-06-13T152401+0200.xml',xpath='utr')
df.head()

,typ,nr_drogi,woj,km,dl,geo_lat,geo_long,nazwa_odcinka,data_powstania,data_likwidacji,...,ogr_skrajnia_pozioma,ogr_skrajnia_pionowa,ogr_szerokosc,ogr_predkosc,ruch_wahadlowy,sygnalizacja_swietlna,awaria_mostu,ruch_2_kierunkowy,droga_zamknieta,czasy_oczekiwania
0,U,A1,pomorskie,35.889,7.461,53.940744,18.646039,węzeł Pelplin - węzeł Kopytkowo,2025-04-24T10:00:00+0200,2025-06-18T23:59:00+0200,...,NaN,NaN,NaN,NaN,False,False,False,False,False,NaN
1,U,A1,kujawsko-pomorskie,81.300,8.700,53.543876,18.608566,w. Grudziądz - w. Warlubie,2025-05-25T09:30:00+0200,2025-07-02T00:00:00+0200,...,NaN,NaN,NaN,NaN,False,False,False,False,False,NaN
2,U,A1,kujawsko-pomorskie,175.000,0.000,52.790443,18.836550,w. Włocławek Pn - Ciechocinek,2025-06-13T14:00:00+0200,2025-06-14T16:00:00+0200,...,NaN,NaN,NaN,NaN,False,False,False,False,False,NaN
3,U,A1,śląskie,462.672,0.000,50.561047,19.057507,Zajęcie lewego pasa ruchu jezdni w kierunku na...,2025-06-12T11:00:00+0200,2025-06-14T13:42:00+0200,...,NaN,NaN,3.8,80.0,False,False,False,False,False,NaN
4,U,A1,śląskie,467.705,0.123,50.519521,19.065195,Zajęcie lewego pasa ruchu jezdni w kierunku na...,2025-06-12T12:30:00+0200,2025-06-14T08:00:00+0200,...,NaN,NaN,3.8,80.0,False,False,False,False,False,NaN

In [24]:
df.shape

(524, 26)

In [25]:
24*2*600

28800

## Limit powinien wystarczyć przy pobieraniu danych co pół godziny